.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;

  button {
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 5px;
  }

  em {
    margin: 15px;
  }
}